body {
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

img {
  text-align: center;
  width: 50%;
  max-width: auto;
}

.pull_right {
  float: right !important;
  margin: 4px;
  padding: 4px;
  border: 4px solid darkmagenta;
}